@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
    animation: scrollBackground 70s linear infinite;
    width: 100%;
    background-image: url(media/img/Background/background.webp);
    background-repeat: repeat; }

#productList{
    background-color: aquamarine;
    padding: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.productBlock{
    width: fit-content;
    min-width: 22vw;
    background-color: aliceblue;
    padding: 4px;
    border: 4px;
    border-color: blue;
    border-radius: 4px;
    margin: 10px;
}

.LaPaulina{
    background-color: rgba(0, 255, 255, 0.301);
}
.Paladini{
    background-color: rgba(255, 0, 0, 0.301);
}

.productBlockImg{
    max-width: 200px;
}

.productBlockImg img{
    max-width: 200px;
}

@keyframes scrollBackground {
    100% {
      background-position: 0px -3130px; } }